<!DOCTYPE html>
<html>
  <head>
    <title><%= data.Name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= data.Name %></h1>
    <p>Welcome to <%= data.Name %></p>
  </body>
</html>
